/* =============
    Aurora
============= */

#aurora{

    

    #content{

    h1{
        text-align: right;
        // color: white;
    }
    color: white;
    display: grid;
    grid-area: "title content";
    grid-template-columns: 20% auto;
    grid-template-areas: ". title"
    ". text";
    
    }
    

    >div{
        background-image: url(../img/aurora/4.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 800px;
    }

}