/* =============
    Aurora
============= */

#aurora{

    

    >div{

    h1{
        text-align: left;
        // color: white;
    }

    color: white;
    display: grid;
    grid-area: "content";
    grid-template-columns: 30% auto;
    grid-template-areas: ". text";
    
    }
    

    >div{
        background-image: url(../img/aurora/4.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 800px;
    }

}