/* =============
    History
============= */

#history {


    >div{
        background-image: url(../img/history/2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 800px;

        display: grid;
        grid-area: "history";
        grid-template-columns: 15% auto;
        grid-template-areas: ". historytext";
    }
}


