/* =============
    Skaftafell
============= */

#skaftafell{

    >div{
        background-image: url(../img/skaftafell/3.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 900px;
    }

    display: grid;
    grid-template-columns: 5% auto auto 5%;
    grid-template-areas: ". left right .";
    padding: 20px;

}