/* =============
    Unesco
============= */

#unesco {

    display: grid;

    @include md {
        grid-template-columns: 40% auto;
        // padding: 150px 0;
    }

    // @include lg {
    //     padding: 50px 0px 100px;
    // }

    // @include xl {
    //     padding: 50px 0px 50px;
    // }

    #rightsect {
        background-image: url(../img/unesco/10.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 20px 20px 300px;
        display: grid;
        grid-template-areas: 
        "content"
        "title";

        section{
            display: none;
            h1 {
                font-size: rem-calc(57);
                font-weight: 400;
                font-family: 'rozha one';
                color: $white;
                grid-area: title;
                margin-top: 100px;
                position: relative;
            }
        }

       

        div {
            grid-area: content;
            h4 {
                font-size: rem-calc(21);
                font-weight: 400;
                font-family: 'work sans';
                font-style: italic;
                color: $white;
            }

            button {
                display: none;
                margin-top: 5px;
                margin-bottom: 30px;
                background-color: transparent;
                color: $white;
                font-size: rem-calc(21);
                font-weight: 400;
                font-family: 'work sans';
                border: 1px solid $white;
                border-radius: 5px;
                padding: 10px 10px;
                transition: .25s;

                @include md {
                    margin-bottom: 0px;
                    display: block;
                }

                &:hover {
                    background-color: $white;
                    color: $terracotta;
                    cursor: pointer;
                }
            }
        }
    }

    #paragraph {
        background-color: $terracotta;
        padding: 20px;

        section{ 
            margin-top: -200px;
            text-align: right;

            @include md{
                margin-top: 0;
                text-align: left;
                margin-left: -100px;
            }
            h1 {
                font-size: rem-calc(57);
                font-weight: 400;
                font-family: 'rozha one';
                color: $white;
                grid-area: title;
                margin-top: 100px;
                position: relative;
            }
        }

        p {
            padding-bottom: 15px;
            line-height: 20px;
            font-size: rem-calc(14);
            font-weight: 300;
            font-family: 'work sans';
            color: $white;
        }

        button {
            @include md {
                display: none;
            }
        }

    }

}