/* =============
    Header
============= */

#header{

    >div{
        background-image: url(../img/header/1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 900px;
    
    }
    h1{
        
    }

}
