/* =============
    Header
============= */

#header{

    article{
    
        margin-top: 75px;
        margin-left: 25px;

        @include md{
            margin-top: 100px;
        }
        @include lg{
            margin-top: 150px;
            margin-left: 100px;
        }
        @include xl{
            margin-top: 100px;
            margin-left: 20%;
        }


    #v{
        color: $terracotta;
        line-height: 50px;
        font-size: rem-calc(57);
        font-weight: 300;
        @include md{
            line-height: 90px;
            font-size: rem-calc(110);
        }
    }
    #n{
        color: $navy;
        line-height: 50px;
        font-size: rem-calc(57);
        font-weight: 300;
        @include md{
            line-height: 90px;
            font-size: rem-calc(110);
        }
    }
    #p{
        color: $navy;
        line-height: 70px;
        font-size: rem-calc(140);
        font-weight: 300;
        @include md{
            line-height: 120px;
            font-size: rem-calc(300);
        }
    }
}
    >div{
        background-image: url(../img/header/1.png);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
        height: 800px; 
        margin-top: -270px;
        position: relative;
    }
}
